// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "DP-2" {
    focus-at-startup
    variable-refresh-rate on-demand=true
    position x=500 y=0
}

output "HDMI-A-1" {
    transform "270"
}
